.login {
  height: calc(100vh - 158px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid skyblue;
}

.message {
  font-size: 20px;
  height: 30px;
  margin: 10px 0 20px 0;
}

.error {
  color: orange;
}

.success {
  color: lightgreen;
}
